@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin :0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color:antiquewhite;
    width: 100%;
    position: fixed; 
    z-index: index 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 200px ;
}
.logo{
    text-decoration:none ;
    color:rgb(199, 169, 132);
    text-transform: uppercase;
    font-weight: 700 ;
    font-size: 1.8em;


}
.navigation a{
    color:rgb(199, 169, 132);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color:black;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items:center ;
    background: url(images/maram3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
     background-attachment: fixed;   
}

.main h2 {
    display: inline-block;
    margin: top 10px; ;
    color:peru;
    font: size 3em;
    font-weight: 600;
}
.main h3 {
    color:grey;
    font-size: 2em;
    font-weight:700;
    letter-spacing:  1px; 
    margin-top:  10px; 
    margin-bottom: 30px;
}
.main img {
    position: center;
}
.title{
    display: flex;
    justify-content: center ;
    color: burlywood;
    font-size: 2.2em;
    font-weight: 800;
    margin: bottom 30px; 
}
.content h2 .info3 h2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.info h2{
    padding: 50px;
    color: brown;
    justify-content: center ;
    font-size: 2.2em;
    font-weight: 800;
    margin: bottom 30px;

}
.info h4{

font-weight:700;
display: flex;
font-size: 1.6em;
padding: 30px;
color: saddlebrown;
}

.info h5{
    font-size: 1.2em;  
}
.info2 h4 {
font-weight:700;
display: flex;
font-size: 1.6em;
padding: 30px;
color: saddlebrown;
}
.info2 h5{
    
    font-size: 1.2em;  
    
}
.info3 h2{
    padding: 50px;
    color: brown;
    justify-content: center ;
    font-size: 2.2em;
    font-weight: 800;
    margin: bottom 30px;
}
.info3 h5{
    font-size: 1.2em; 
}
.info3 h4{
font-weight:700;
display: flex;
font-size: 1.6em;
padding: 30px;
color: saddlebrown
}
.Experience{
    background-color:antiquewhite;
}

.Contact .info h3{
    color: rgb(121, 86, 44);
}
.Contact .info p {
    font-size: 1.5em;

}
.footer{
    background-color:antiquewhite ;
    color: rgb(199, 169, 132);
}